.DS_Store

# Xcode
build/
DerivedData/
*.xcuserstate
xcuserdata/

# Swift Package Manager
.swiftpm/

# Archives / symbols
*.ipa
*.dSYM
*.dSYM.zip

# Playgrounds
timeline.xctimeline
playground.xcworkspace

# Spec
*_SPEC.md